<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mylibaray">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Navi1">
        <activity
            android:name="com.example.android.mylibaray.Novel"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.Cyber"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.Money"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.Inspire"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.BookSingle"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.ProgrammingBooks"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.Request"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.Registration"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.MyAccount"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.Books"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.Login"
            android:exported="false" />
        <activity
            android:name="com.example.android.mylibaray.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>